/*
/.**

!/nvim
/nvim/lazy-lock.json

!/lazy_vim

!/.config/starship.toml
!/gitconfig
!/.gitconfig
!/.gitignore
!/README.md
!/starship.toml
!/vscode.code-profile
!/wezterm.lua
!/.wezterm.lua

!/.vimrc
!/zprofile
!/zshrc
!/.zshrc
