/*
/.**
!/.gitignore

!/nvim
/nvim/lazy-lock.json

!/lazy_vim

!/Brewfile
!/README.md

!/gitconfig
!/mise.toml
!/sheldon.toml
!/starship.toml
!/vscode.code-profile
!/wezterm.lua
!/zprofile
!/zshrc

!/.vimrc
